@inject IWebHostEnvironment _env
@model UserAndMessage
@{
    ViewData["Title"] = "Profile";
    string pic = (Model.user.Picture == "" || Model.user.Picture is null) ? _env.WebRootPath + "\\assets\\picc.jpg" : Model.user.Picture;
}
<partial name="_Notification" />
<div class="container text-light justify-content-center align-items-center text-center mt-5">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="card bg-opacity-25 bg-dark rounded-5 text-light container">
                        <hr/>
                    <div class="card-img-top m-auto container">
                        <a class="btn" asp-controller="UserSettings" asp-action="Settings" style="margin-left:88%;"><i class="fa-solid fa-gear ms-2 fa-xl" style="color: #ffffff;"></i></a>
                        <p>
                            <img id="profileimage" src="@pic" style="height:130px;width:130px;margin-bottom:1rem;z-index:1;"/>
                        </p>
                        <p>
                        <span class="h5 my-5 bg-danger bg-opacity-10 d-inline p-2 rounded-3">@Model.user.Firstname @Model.user.Lastname</span>
                        </p>
                    </div>
                    <div class="card-body">
                        <hr/>
                        <div id="profileinfo" class="row">
                            <div class="col">
                            </div>
                            <div class="col">
                                Messages Recevied: @Model.user.messagesCount
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5 container ms-auto me-auto" style="height:15rem;">
        <div class="bg-opacity-25 bg-dark rounded text-light">
            <span class="d-block mt-4 mb-0 h5">Send An Anonymous Message to @Model.user.Firstname</span>
           <form class="form" method="post">
               <label for="messagecontent"></label>
               <hr class="my-0" style="opacity:0;"/>
                @{
                    string msgtext = "";
                }
                <textarea id="message" name="msgtext" placeholder="Type a message for @Model.user.Firstname">@msgtext</textarea>
                <hr class="opacity-0 my-0"/>
                <button id="messagebutton" class="btn btn-primary w-50 my-3" asp-controller="Profile" asp-action="SendMessage" asp-route-userid="@Model.user.Id";
}" style="background-color: var(--primary);outline:none;border:none;">Send</button>
           </form>
        </div>
    </div>
</div>





<script type="text/javascript">
    const message = document.getElementById("message");
    message.style.cssText = `height: ${message.scrollHeight*2}px; overflow-y:hidden;border-color: var(--primary);outline-color:var(--primary);`;

    message.addEventListener("input",function() {
        this.style.height = "auto";
        this.style.height = `${this.scrollHeight*1.01}px`;
    });

</script>

